/* Scrollbar styles for the entire page */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #2d2d2d; /* Dark background for the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Dark color for the scrollbar thumb */
  border-radius: 10px;
  border: 3px solid #2d2d2d; /* Match the track background */
}

/* Scrollbar styles for the sidebar */
.sidebar::-webkit-scrollbar {
  width: 12px;
}

.sidebar::-webkit-scrollbar-track {
  background: #2d2d2d; /* Dark background for the scrollbar track */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #555; /* Dark color for the scrollbar thumb */
  border-radius: 10px;
  border: 3px solid #2d2d2d; /* Match the track background */
}
